.nav-search {
  position: relative;
  background-color: $darkestGray;
  border-radius: 5px;
}


.nav-search__icon {
  position: absolute;
  top: 2px;
  left: 10px;
  color: #808080;
  pointer-events: none;
  line-height: 22px;
}

.nav-search__input {
  width: 200px;
  padding: 6px 10px 6px 30px;
  color: $lighterGray;
  font-size: 12px;
  outline: 0;
  border: none;
  background-color: transparent;
}